<div class="container pt-5">
  <div class="card shadow">
    <div class="card-body">
      <h3>Forgot password?</h3>
      <user-forgot-password-form></user-forgot-password-form>
      <hr>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a routerLink="/register">
            Register
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/login">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
